.form-control {
  transform: perspective(1px) translateZ(0);
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    width: 0;
    background: #2098d1;
    height: 4px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &:focus::after {
    left: 0;
    right: 0;
    width: 100%;
  }
  &:disabled{
    border: 0;
    background-color: transparent;
    pointer-events: none;
  }
  &:read-only{
    opacity: 0.6;
  }
}
