body{
    color: var(--body-text-color);
    font-size: 13px;
}

.btn {
    font-weight: 500;
    outline: 0;
    cursor: pointer;
    border: 1px solid #047db7;
    color: #a8c7fa;
    border-radius: 100px;
    &:hover{
        background-color: #e3e3e314;
    }
    &:disabled{
        pointer-events: none;
        color: rgba( 227,227,227, .38);
        background-color: rgba( 227,227,227, .12);
        border: 0;
    }
}

input{
    outline: 0;
    &:focus{
        // border: 0;
    }
}


