.font-icon{
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
.ic-home::before{
    content: "\e91c";
}
.ic-browse::before{
    content: "\e91b";
}
.ic-trending::before{
    content: "\e90c";
}
.ic-search::before{
    content: "\e91a";
}