@layer base {
  html {
    font-weight: normal;
    color: var(--body-text-color);
  }
  body {
    background-color: var(--body-bg-color);
  }
  button{
    cursor: pointer;
    
  }
}



* {
  font-family: IranSans;
}

.stretched-link {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
}
