@layer base {
    html{
        font-weight: normal;
        color: var(--body-color);
    }
    body{
        background-color: var(--body-bg);
    }
  }

*{
    font-family: IranSans;
}

a{
    color: #ffffffb3;
    transition: all .3s ease;
    &:hover{
        color: #fff;
    }
}

.stretched-link{
&::after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}
}